# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# Forzar archivos de Godot y recursos como binarios
*.png binary
*.jpg binary
*.jpeg binary
*.wav binary
*.ogg binary
*.res binary
*.tres text
*.tscn text